
@{
    ViewBag.Title = "Contagem regressiva";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h2>Faltam:</h2>
    <div id="timer"></div>
</div>

@using (@Html.BeginForm("Aniversario", "Main", FormMethod.Post, new {id = "formPost"}))
{
    @Html.AntiForgeryToken()
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Countdown.js"></script>
