body {
    background: #000000;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    margin-top: 100px;
    background: #000000;
    text-align: center;
    font-size: 50px;
    color: #1bff00;
}

@media (max-width: 480px) {
    h2 {
        font-size: 30px;
    }

    #timer {
        font-size: 30px;
    }
}

@media (min-width: 960px) {
    h2 {
        font-size: 80px;
    }

    #timer {
        font-size: 80px;
    }
}
